#container {
    background: #fffded;
    height: calc(100% - 64px);
}
.game-notice-wrap{
    color: #a05e00;
    padding: 0 1rem;
    padding-top: 2.5rem;
}

.game-notice-wrap .tag{
	margin-bottom: 1rem;
}
.game-notice-wrap .notice-content{
	text-indent: 2rem;
	margin-bottom: 1rem;
}