#container {
    background: #fffded;
    padding: 0 1rem;
    height: calc(100% - 64px);
}
.notice-content-wrap{
	color: #a05e00;
	padding-top: 2.5rem;
}
.tag {
    border-radius: 2rem;
    padding: 0.3rem;
    color: #a05e00;
    background: #dfd8ab;
    font-size: 15px;
    width: 6rem;
    text-align: center;
    margin: 0 auto;
}
.notice-content-wrap .tag{
	margin-bottom: 1rem;
}
.notice-content-wrap .notice-content{
	text-indent: 2rem;
	margin-bottom: 1rem;
}