<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>欢乐植树</title>
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/index.css">
</head>

<body>
    <div class="container">
        <div class="blur_container hei">
            <div class="blur_bg"></div>
            <div class="blur_box none">
                <div class="item_row flex flex-justify-arround">
                    <div class="">
                        <img src="{$static_dir}home/img/green.png">
                        <p class="">{$_MEMBER.green_max|default=0}</p>
                    </div>
                    <div class="">
                        <img src="{$static_dir}home/img/dui.png">
                        <p class="">{$_MEMBER.green|default=0}</p>
                    </div>
                    <div class="">
                        <img src="{$static_dir}home/img/budui.png">
                        <p class="">{$_MEMBER.green_nocash|default=0}</p>
                    </div>
                    <div class="">
                        <img src="{$static_dir}home/img/hsf2.png">
                        <p class="">{$_MEMBER.share|default=0}</p>
                    </div>
                    <div class="">
                        <img src="{$static_dir}home/img/bigtree.png">
                        <p class="">{$count|default=1}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bomb">
            <div class="title">道具使用</div>
            <div class="close"></div>
            <div class="bomb-box">
                <div class="middle clearfix">
                    请选择使用或者兑换工具
                </div>
                <div class="bottom">
                    <div class="status">
                        <div class="use btn">使用</div>
                        <div class="exchange btn">兑换</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bomb bomb-dialog">
            <div class="title">温馨提示</div>
            <div class="close"></div>
            <div class="bomb-box">
                <div class="middle clearfix">
                    请先去兑换工具
                </div>
                <div class="bottom">
                    <div class="status">
                        <div class="use btn">确定</div>
                        <div class="exchange btn">取消</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tree">
            <div class="gethudun"><img src="{$static_dir}home/img/hudun1.png" /></div>
            <div class="old tree-box"><img src="{$static_dir}home/img/oldtree.png"></div>
            <div class="grow tree-box"><img src="{$static_dir}home/img/growtree.png"></div>
            <div class="child tree-box active"><img src="{$static_dir}home/img/childtree.png"></div>
            <!-- <div class="qipao">
                <div class="life-num">80</div>
                <div class="chengzhang">成长值</div>
                <div class="add move">+10</div>
                <div class="minus move">-10</div>
            </div> -->
        </div>
        <div class="blur_container col">
            <div class="blur_bg"></div>
            <div class="blur_box flex flex-col flex-justify-arround">
                <div class="item_col flex-1">
                    <a href="{:url('Adv/index')}" class="flex flex-align">
                        <div class="center">
                            <img src="{$static_dir}home/img/notice.png"> 公告
                        </div>
                    </a>
                </div>
                <div class="item_col flex-1">
                    <a href="{:url('TreesMap/index')}" class="flex flex-align">
                        <div class="center">
                            <img src="{$static_dir}home/img/mapicon.png"> 地图
                        </div>
                    </a>
                </div>
                <div class="item_col flex-1">
                    <a href="{:url('Task/index')}" class="flex flex-align">
                        <div class="center">
                            <img src="{$static_dir}home/img/taskicon.png"> 赚绿值
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="planting flex">
            <div class="planting-item flex-1 flex flex-justify-arround flex-align">
                <div class="item watering">
                    <div class="water act">
                        <img src="{$static_dir}home/img/water.png" class="water1">
                        <img src="{$static_dir}home/img/water2.png" class="water2">
                    </div>
                    <img src="{$static_dir}home/img/water.png"> x
                    <span class="num">{$waterprop|default=0}</span>
                    <div class="add1 one">+1</div>
                    <div class="minus1 one">-1</div>
                </div>
                <div class="item cutting">
                    <div class="cut act">
                        <img src="{$static_dir}home/img/cut.png" class="cut1">
                        <img src="{$static_dir}home/img/cut2.png" class="cut2">
                    </div>
                    <img src="{$static_dir}home/img/cut.png"> x
                    <span class="num">{$cutprop|default=0}</span>
                    <div class="add1 one">+1</div>
                    <div class="minus1 one">-1</div>
                </div>
                <div class="item feeding">
                    <div class="shifei act">
                        <img src="{$static_dir}home/img/shifei.png" class="shifei1">
                        <img src="{$static_dir}home/img/shifei1.png" class="shifei2">
                    </div>
                    <img src="{$static_dir}home/img/shifei.png"> x
                    <span class="num">{$shifeiprop|default=0}</span>
                    <div class="add1 one">+1</div>
                    <div class="minus1 one">-1</div>
                </div>
                <div class="item defense">
                    <img src="{$static_dir}home/img/hudun.png" class="hudun act">
                    <img src="{$static_dir}home/img/hudun.png"> x
                    <span class="num">{$hudunprop|default=0}</span>
                    <div class="add1 one">+1</div>
                    <div class="minus1 one">-1</div>
                </div>
            </div>
        </div>
        <div id="bottom">
            <div class="topbg"></div>
            <div class="ranking flex">
                <div class="ranking-item active flex-1 self">
                    个人排名
                </div>
                <div class="ranking-item flex-1 banzu">
                    班组排名
                </div>
                <div class="ranking-item flex-1 copm">
                    企业排名
                </div>
                <div class="ranking-item flex-1 area">
                    地区排名
                </div>
            </div>
            <div class="rank-box">
                <div class="rank-box-item active">
                    <div class="self-type flex">
                        <div class="self-type-item flex-1">司机达人</div>
                        <div class="self-type-item flex-1">植树达人</div>
                    </div>
                    <div class="self-type-box active">
                        <div class="rank-list flex self">
                             <div class="rank-num"></div>
                             <div class="self-icon"><img src="{$static_dir}home/img/self.png"></div>
                             <div class="self-name flex-1">{$me_rank.name}1</div>
                             <div class="self-num">{$me_rank.green_max}</div>
                         </div>
                         
                    </div>
                    <div class="self-type-box">
                        <div class="rank-list flex self">
                             <div class="rank-num">{$me_rank.rank}</div>
                             <div class="self-icon"><img src="{$static_dir}home/img/self.png"></div>
                             <div class="self-name flex-1">{$me_rank.name}</div>
                             <div class="self-num">{$me_rank.green_max}</div>
                         </div>
                    </div>
                </div>
                <div class="rank-box-item">
                   <div class="self-type flex">
                        <div class="self-type-item flex-1 ranking-list">排行榜</div>
                    </div>
                    <div class="self-type-box active">
                       
                    </div>
                </div>
                <div class="rank-box-item">
                    <div class="self-type flex">
                        <div class="self-type-item flex-1 ranking-list">排行榜</div>
                    </div>
                    <div class="self-type-box active">
                        
                    </div>
                </div>
                <div class="rank-box-item">
                    <div class="self-type flex">
                        <div class="self-type-item flex-1">区域</div>
                        <div class="self-type-item flex-1">产业局</div>
                    </div>
                    <div class="self-type-box active">
                        
                    </div>
                    <div class="self-type-box">66s</div>
                </div>
            </div>
        </div>
        <div class="hsf">
            <a href="javascript:;" class="">
                <img src="{$static_dir}home/img/hsf1.png">
                红色寻访
         </a>
        </div>
        <div class="me">
            <a href="{:url('Me/index')}" class="">
                <img src="{$static_dir}home/img/self.png">
                <p>{$_MEMBER.username}</p>
         </a>
        </div>
        <div class="disaster">
            <div class="hongshui">
                <img src="{$static_dir}home/img/hongshui1.png">
                <div class="inline"></div>
                <img src="{$static_dir}home/img/hongshui2.png">
            </div>
            <div class="cloud">
                <img src="{$static_dir}home/img/cloud.png">
            </div>
            <div class="ganhan"></div>
            <div class="taifeng">
                <img src="{$static_dir}home/img/taifeng.png">
            </div>
        </div>
        <div class="lunbo">
            <div class="lunbobg"></div>
            <div class="lunbobox">
                <div class="lunbo-container">
                    1.你好我符合双方计划来看2.还是减肥海景房hi3.武将半年时间考虑对4.方会我刘根据客户发生5.的风格留，的施肥hi厉害了
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{$static_dir}home/js/zepto.js"></script>
    <script type="text/javascript" src="{$static_dir}home/js/public.js"></script>
    <script type="text/javascript" src="{$static_dir}home/js/touch.js"></script>
    <!-- <script type="text/javascript" src="{$static_dir}home/js/index.js"></script> -->
    <script type="text/javascript">
    $(function(){
        $('.close','.bomb','.bomb-dialog').click(function(){
            $('.bomb').hide();
            $('.bomb-dialog').hide();
        })
        //操作+1和-1小图标
        var Handlecount = {
            els:$('.planting').find('.item'),
               init:function(){},
               add:function(index){
                var that = this;
                   this.els.eq(index).find('.add1').addClass('active')
                   this.dom(index,add)
                   setTimeout(function(){
                       that.els.eq(index).find('.add1').removeClass('active')
                   },1000)
               },
               minus:function(index){
                var that = this;
                   this.els.eq(index).find('.minus1').addClass('active')
                   this.dom(index)
                   setTimeout(function(){
                       that.els.eq(index).find('.minus1').removeClass('active')
                   },1000)
               },
               dom:function(index,add){
                var el = this.els.eq(index).find('.num');
                var num = parseInt(el.html());
                   num = add? (num+1) :(num-1);
                el.html(num)
               }
        }
        Handlecount.init();
        //排名分类
        var Bottom = {
            bottom:$('#bottom'),
            low:window.innerHeight - 80,
            taps:$('.ranking').find('.ranking-item'),
            rankBoxs:$('.rank-box').find('.rank-box-item'),
            current:$('.rank-box').find('.rank-box-item').eq(0),
            init:function(){
                this.bottom.css('bottom',-this.low+'px');
                this.bindEvent();
            },
            bindEvent:function(){
                var that = this;
                   this.taps.on('click',function(){
                    var index = $(this).index()
                    $(this).addClass('active').siblings().removeClass('active');
                    that.rankBoxs.eq(index).addClass('active').siblings().removeClass('active');
                    that.current = that.rankBoxs.eq(index);
                   })
            }
        }
        Bottom.init();

        var flaginit = true;
        touch.on('#bottom','swipeup',function(){
            $('#bottom').css('transform','translateY('+(-Bottom.low)+'px)')
            $('#bottom').find('.topbg').css({
                height:'40%',
                marginBottom: '-44px',
            })
            if(flaginit){
                Selfrank.init();
                flaginit = false;
            }
        })
        touch.on('#bottom','swipedown',function(){
            $('#bottom').css('transform','translateY(0px)')
            $('#bottom').find('.topbg').css({
                height:'0px',
                marginBottom: '0px',
            })
        })
        // 个人排名
        var Selfrank = {
            els:$('.rank-box-item').find('.self-type-item'),
            class_rank:JSON.parse('{$class_rank|json_encode}'),
            company_rank:JSON.parse('{$company_rank|json_encode}'),
            area_rank:JSON.parse('{$area_rank|json_encode}'),
            init:function(){
                var me = JSON.parse('{$me_rank.rank|json_encode}');
                var box = $('.self-type-box ').eq(0);
                $('.self',box).eq(0).find('.rank-num').html(this.switchicon(me))

                var data = JSON.parse('{$person_rank|json_encode}')
                console.log(this.company_rank,data)
                this.render(Bottom.rankBoxs.eq(0),0,data,'true')
                this.render(Bottom.rankBoxs.eq(1),0,this.class_rank)
                this.render(Bottom.rankBoxs.eq(2),0,this.company_rank)
                this.render(Bottom.rankBoxs.eq(3),0,this.area_rank)
                this.bindEvent();
            },
            bindEvent:function(){
                var that = this;
                  this.els.click(function(event) {
                        var index = $(this).index();
                        $(this).parents('.rank-box-item').find('.self-type-box').eq(index).addClass('active').siblings().removeClass('active');
                  });
                  //排行列表用户点击
                  $('.rank-box-item').eq(0).on('click','.self-icon',function(){   
                       location.href = "{:url('other/index')}"
                  })
            },
            render:function(current,index,data,flag){
                var str = ''
                   for(var i = 0;i<data.length;i++){
                       var rank = i+1
                       var name = data[i].username?data[i].username:(data[i].area?data[i].area:(data[i].company?data[i].company:data[i].class))
                       var max = data[i].green_max?data[i].green_max:data[i].max;
                       var strli = !flag? '':'<div class="self-icon"><img src="{$static_dir}home/img/self.png"></div>'
                       str+='<div class="rank-list flex">'
                        +   '<div class="rank-num">'+this.switchicon(rank)+'</div>'
                        +    strli
                        +   '<div class="self-name flex-1">'+name+'</div>'
                        +   '<div class="self-num">'+max+'</div>'
                    +   '</div>'
                   }
                   current.find('.self-type-box').eq(index).append(str);
            },
            switchicon(d){
                switch(d){
                    case 1:
                    d = '<img src="{$static_dir}home/img/jin.png">';
                    break;
                    case 2:
                    d = '<img src="{$static_dir}home/img/yin.png">';
                    break;
                    case 3:
                    d = '<img src="{$static_dir}home/img/tong.png">';
                    break;
                }
                return d
            },
        }
           //植树
        var treelevel = JSON.parse('{$tree|json_encode}');
        var taiFengIsOver = false; // 台风是否结束
           var treeindex = 2;
           switch(treelevel){
               case 1:
               treeindex=2;
               break;
               case 2:
               treeindex=1;
               break;
               case 3:
               treeindex=0;
               break;
           }
           var Tree = {
               tree:$('.tree').find('.tree-box'),
               tools:$('.planting').find('.item'),
               bomb:$('.bomb'),
               now:treeindex,
               next:null,
               index:0,
               init:function(){
                   this.next = this.now-1;
                   this.bindEvent();
               },
               bindEvent:function(){
                   var that = this;
                       //点击工具
                   this.tools.click(function(){
                       // 台风结束才可以使用道具
                       if (taiFengIsOver) {
                           if($(this).index()==3) return;
                           that.index = $(this).index();
                           console.log(that.index);
                           //兑换弹框显示
                           if($('.planting').find('.item').eq(that.index).find('.num').text() == 0) {
                            $('.bomb-dialog').show();
                            return;
                           }
                            that.bomb.show()
                       }
                   });
                   // 点击使用
                   this.bomb.find('.use').click(function(event) {
                    if ($(this).parents('.bomb').hasClass('.bomb-dialog')) {
                        var data = {
                            url:'/prop?prop_type='+(that.index+1),
                            success:function(ref){
                                console.log(ref)
                                var data=ref.data;
                                if(data.status == 'error'){
                                    alert(data.msg)
                                }else{
                                    that.event(that.index);
                                    getData({
                                        url:'level',
                                        success:function(ref){
                                            var data = ref.data;
                                            if(data.status=='succ'){
                                                var list =data.list;
                                                if(list.status == 1){
                                                    $('.lunbo').show();
                                                }else if(list.status == 2){
                                                    Guoshi.num = 2;
                                                    Guoshi.init();
                                                }
                                            }
                                        }
                                    })
                                }
                            }
                        }
                        getData(data)

                       that.event(that.index);
                       that.bomb.hide();
                       //树苗成长
                       setTimeout(function(){
                           that.growing(that.now,that.next)
                           that.now --;
                           that.tools.find('.act').eq(that.index).removeClass('active')
                       },4000)
                    }else{
                        $('.bomb-dialog').hide();
                    }

                   });
                   // 点击兑换
                   this.bomb.find('.exchange').click(function(event) {
                        // 点击取消
                        if (!$(this).parents('.bomb').hasClass('.bomb-dialog')) {
                            $('.bomb-dialog').hide();
                            return;
                        }
                   });
               },
               //植树效果
               event:function(i){
                   var that = this;
                   this.tools.find('.act').eq(i).addClass('active')
                    Handlecount.minus(i)
               },
               growing:function(now,next){
                   var that = this;
                   var heinow = this.tree.eq(now).height();
                   var heinext = this.tree.eq(next).height();
                   var per = heinext/heinow;
                   this.tree.eq(now).css({
                       transform:'scale('+per+','+per+')',
                       opacity:0,
                   })
                   setTimeout(function(){  
                       that.tree.eq(next).css({
                           opacity:1,
                       })
                       that.next --;
                   },1000)
               }
           }
           Tree.init();
           //灾难来袭
             var Disaster = {
                 hongshui:$('.hongshui'),
                 ganhan:$('.ganhan'),
                 taifeng:$('.taifeng'),
                 cloud:$('.cloud'),
                 init:function(t){
                     //api
                     var that = this;
                     var baseUrl = "{:url('Index/prop')}";
                     console.log(baseUrl);
                     var disasterArr = '{$disaster|json_encode}';
                         disasterArr = JSON.parse(disasterArr);
                     if (disasterArr) {
                         $.get(baseUrl,{'prop_type':'4','disaster_id':disasterArr.id},function(rs){
                             if (rs.data.status=='succ') {
                                 switch (disasterArr.disaster_type){
                                     case 0:
                                     that.taifengcom();
                                     that.hudun();
                                     break;
                                     case 1:
                                     that.hongshuicom();
                                     that.hudun();
                                     break;
                                     case 2:
                                     that.ganhancom();
                                     that.hudun();
                                     break;
                                 }
                                     
                             } else {
                                 switch (disasterArr.disaster_type){
                                     case 0:
                                     that.taifengcom();
                                     break;
                                     case 1:
                                     that.hongshuicom();
                                     break;
                                     case 2:
                                     that.ganhancom();
                                     break;
                                 }
                                     
                             }
                         })
                         
                     }
                     
                 },
                 hongshuicom:function(){
                     this.hongshui.show();   
                     this.cloud.show();
                     //this.hudun();
                 },
                 ganhancom:function(){
                     var that = this;
                     this.ganhan.addClass('active')
                     setTimeout(function(){
                         // that.hudun();
                     },4000)
                 },
                 taifengcom:function(){
                     var that = this;
                     this.taifeng.addClass('active')
                     // that.hudun();
                     setTimeout(function(){
                         that.taifeng.removeClass('active');
                         taiFengIsOver = true;
                     },8000)
                 },
                 hudun:function(){
                     var that = this;
                     //护盾激活效果
                     $('.hudun').addClass('active')
                     Handlecount.minus(3);
                     //护盾运动效果
                     $('.gethudun').addClass('active')
                     //护盾效果结束
                     setTimeout(function(){
                         $('.hudun').removeClass('active')
                         $('.gethudun').removeClass('active')
                         that.hongshui.hide();
                         that.cloud.hide();
                     },4000)
                 }
             }
             Disaster.init();
        //轮播
        var Lunbo = {
            lunboCon : $('.lunbo-container'),
            lunbo : $('.lunbobox'),
            top:30,
            hei:$('.lunbobox').height(),
            init:function(){
                var that = this;
                this.lunbo.append(this.lunboCon.clone())
                this.move()
                setInterval(function(){
                    if(that.top <= -that.hei){
                        that.lunbo.append($(that.lunbo.children()[0]))
                        that.lunbo.css({
                            transition:'top 0s',
                            top:'0px'
                        })
                        that.top = 0;
                    }
                    setTimeout(function(){that.move();},1000)
                },3000)
            },
               move(){
                this.lunbo.css({'transition':'top 1s'})
                this.top -= 30;
                this.lunbo.css({top:this.top+'px'});

               },
        }
        Lunbo.init();
        var Guoshi = {
            num :0,
            el:$('.old','.tree'),
            init:function(){
                   this.render(this.num)
            },
            getT(){
                return parseInt(17+Math.random()*25)
            },
            getL(){
                return parseInt(18+Math.random()*56)
            },
            render(num){
                var str = '';
                  for(var i =0;i<num;i++){
                     str+= '<div style="top:'+this.getT()+'%;left:'+this.getL()+'%;" class="guoshi"></div>'
                  }
                  this.el.append(str)
            }
        }
        Guoshi.init();
       })
    </script>
</body>

</html>