<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>公告</title>
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/index.css">
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/notice.css">
    <style type="text/css">
        .hide{ 
            display: none;
        }
        .show{
            display: block;
        }
        html,
        body {
            background: #fffded;
        }

        #container {
            height: 100% !important;
        }
    </style>
</head>

<body>
    <!-- <div id="header">
        <div id="back">返回</div>
        上汽植树
    </div> -->
    <div id="container">
        <div class="tab-wrap flex">
            <p class="tab-item active">游戏公告</p>
            <p class="tab-item ">游戏介绍</p>
        </div>
        <ul class="task-list show">
            {volist name="adv" id="item" empty="暂无公告"}
            <li>
                <a href="{:url('Adv/detail',['id' => $item['id'],'token'=>$_TOKEN_])}">
                <div class="thumbnail flex">
                    <div class="caption flex">
                        <p class="task-title">{$item.adv_title}</p>
                        <div class="task-award">{$item.create_time|format_time}</div>
                    </div>
                    <div class="btn-options">
                        <div class="btn btn-next"></div>
                    </div>
                </div>
                </a>
            </li>
            {/volist} 
        </ul>
        <ul class="task-list hide">
            {volist name="in" id="item" empty="暂无介绍"}
            <li>
                <a href="{:url('Adv/detail',['id' => $item['id'],'token'=>$_TOKEN_])}">
                <div class="thumbnail flex">
                    <div class="caption flex">
                        <p class="task-title">{$item.adv_title}</p>
                        <div class="task-award">{$item.create_time|format_time}</div>
                    </div>
                    <div class="btn-options">
                        <div class="btn btn-next"></div>
                    </div>
                </div>
                </a>
            </li>
            {/volist} 
        </ul>
    </div>
    <script type="text/javascript" src="{$static_dir}home/js/zepto.js"></script>
    <script type="text/javascript" src="{$static_dir}home/js/public.js"></script>
    <script type="text/javascript">
    $(function() {
	    // tab-item选中效果
	    $('.tab-item').click(function() {
	        $(this).addClass('active').siblings().removeClass('active');
	        var index = $(this).index();
	        $('.task-list').eq(index).removeClass('hide').siblings('ul').addClass('hide');
            $('.task-list').eq(index).addClass('show').siblings('ul').removeClass('show');
	    })
    })
   
    </script>
</body>

</html>