<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/index.css">
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/me.css">
    <style type="text/css">
        html,body{
        background: #fffded;
        }
        #container{
            height: 100% !important;
        }
    </style>
</head>

<body>
    <!-- <div id="header">
        <header>
            <div id="back">返回</div>
            <div class="title">上汽植树</div>
        </header>
    </div> -->
    <div id="container">
        <div class="tab-wrap flex">
            <p class="tab-item active">我的信息</p>
            <p class="tab-item ">我的奖品</p>
        </div>
        <div class="tab-box body-wrap my-info active">
            <div class="list-wrap flex">
                <p class="item-name">名称</p>
                <p class="item-value">{$_MEMBER.username}</p>
            </div>
            <div class="list-wrap flex">
                <p class="item-name">头像</p>
                <p class="item-value"><img src="{$static_dir}home/img/self.png" class="avatar"></p>
            </div>
            <div class="list-wrap flex">
                <p class="item-name">手机号</p>
                <p class="item-value">{$_MEMBER.contact}</p>
            </div>
            <div class="list-wrap flex">
                <p class="item-name">区域</p>
                <p class="item-value">{$_MEMBER.area}</p>
            </div>
            <div class="list-wrap flex">
                <p class="item-name">所在企业</p>
                <p class="item-value">{$_MEMBER.company}</p>
            </div>
            <div class="list-wrap flex">
                <p class="item-name">所在班组</p>
                <p class="item-value">{$_MEMBER.class}</p>
            </div>
            <div class="list-wrap flex">
                <p class="item-name">树木总数</p>
                <p class="item-value">{$_MEMBER.trees}</p>
            </div>
            <div class="list-wrap flex">
                <p class="item-name">综合绿值</p>
                <p class="item-value">{$_MEMBER.green_max}</p>
            </div>
            <div class="list-wrap flex">
                <p class="item-name">出行绿值</p>
                <p class="item-value">{$_MEMBER.green}</p>
            </div>
            <div class="list-wrap flex">
                <p class="item-name">奖励绿值</p>
                <p class="item-value">{$_MEMBER.green_nocash}</p>
            </div>
            <div class="list-wrap flex">
                <p class="item-name">累计总步数</p>
                <p class="item-value">{$_MEMBER.steps}</p>
            </div>
            <div class="list-wrap flex">
                <p class="item-name">乘客里程</p>
                <p class="item-value">{$_MEMBER.mileage}</p>
            </div>
            <div class="list-wrap flex">
                <p class="item-name">司机里程</p>
                <p class="item-value">{$_MEMBER.driver_mileage}</p>
            </div>
            <!-- <div class="list-wrap flex">
                <p class="item-name">答对题目总数</p>
                <p class="item-value">{$_MEMBER.id}</p>
            </div> -->
            <div class="list-wrap flex">
                <p class="item-name">成长币</p>
                <p class="item-value">{$_MEMBER.share}</p>
            </div>
        </div>
        <div class="tab-box my-award">
            <ul class="task-list">
            {volist name="award" id="item" empty="暂无奖品"}
            <a href="{:url('Me/award',['id' => $item['conpon_id'],'token'=>$_TOKEN_])}">
	            <li >
	                <div class="thumbnail flex">
	                    <div class="thumb-img">
	                        <img src="{$static_dir}home/img/gift.png" alt="">
	                    </div>
	                    <div class="caption flex">
	                        <p class="task-title">奖品名称：{$item.conpon_id|get_conpon}</p>
	                        <div class="task-award">获奖时间：{$item.create_time|format_time}</div>
	                    </div>
	                    <div class="btn-options">
	                        <div class="btn btn-next">
	                            
	                        </div>
	                    </div>
	                </div>
	            </li>
            </a>
            {/volist} 
        </ul>
        </div>
    </div>
    <script type="text/javascript" src="{$static_dir}home/js/zepto.js"></script>
    <script type="text/javascript" src="{$static_dir}home/js/public.js"></script>
    <script type="text/javascript">
    $(function() {
    	 // 计算列表的line-height
	    // var lh = $('.list-wrap').height();
	    // $('.list-wrap').css('line-height', lh + 'px');

	    // tab-item选中效果
	    $('.tab-item').click(function() {
	        $(this).addClass('active').siblings().removeClass('active');
	        var index = $(this).index();
	        $('.tab-box').eq(index).addClass('active').siblings().removeClass('active');
	    })
    })
   
    </script>
</body>

</html>