<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>任务</title>
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/index.css">
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/task.css">
</head>

<body>
    <!-- <div id="header">
        <div id="back">返回</div>
        植树任务
    </div> -->
    
    <div id="container">
        <ul class="task-list">
            {volist name="task" id="item"}
            {notempty name="task"}
            <li {switch name="item.status" }
                                {case value="2"}
                                    class="active" 
                                {/case}
                            {/switch} class="clearfix task_{$item.id}">
                <div class="thumbnail clearfix">
                    <div class="thumb-img">
                        {switch name="item.status" }
                            {case value="1"}
                            <img src="{$static_dir}home/img/taskicon.png" alt="">
                            {/case}
                            {case value="2"}
                            <img src="{$static_dir}home/img/finish.png" class="finish" alt="">
                            {/case}
                            {default /}
                            <img src="{$static_dir}home/img/taskicon.png" alt="">
                        {/switch}

                    </div>
                    <div class="caption flex">
                        <p class="task-title">{$item.task_name}</p>
                        <div class="task-award">任务奖励：<img src="{$static_dir}home/img/taskgreen.png"><em>+{$item.task_introduce}</em></div>
                    </div>
                    <div class="btn-options">
                        {switch name="item.status" }
                            {case value="1"}
                            
                                <div class="btn btn-default" data-taskId="{$item.id}">
                                    领取
                                </div>
                            {/case}
                            {case value="2"}
                                <div class="btn btn-done" >
                                    已完成
                                </div>
                            {/case}
                            {default /}
                            <a href="{:url('Task/detail',['id' => $item['id'],'token'=>$_TOKEN_])}">
                                <div class="btn btn-detail" >
                                    详细
                                </div>
                             </a>   
                        {/switch}
                    </div>
                </div>
            </li>
            {else/}
            <li>
                暂无任务
            </li>
            {/notempty}
            {/volist} 
        </ul>
    </div>
    <div class="bomb bomb-task">
        <div class="bomb-po">
            <div class="title">温馨提示</div>
            <div class="close"></div>
            <div class="bomb-box">
                <div class="middle clearfix">
                    领取成功
                </div>
                <div class="bottom">
                    <div class="status">
                        <div class="use btn" style="margin-right:0px;">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{$static_dir}home/js/zepto.js"></script>
    <script type="text/javascript" src="{$static_dir}home/js/public.js"></script>
    <script type="text/javascript">
        var taskId;
        $('.btn-options .btn-default').click(function(event) {
            taskId = $(this).attr('data-taskId');
            var data = {
                url: '/getaward?id=' + taskId,
                success: function(ref) {
                    var data = ref.data;
                    $('.bomb').show();
                    $('.bomb').find('.middle').text(data.msg);
                }
            }
            getData(data)
        });
        $('.bomb .use').click(function(event) {
            $('.bomb').hide();
            $('.task_'+ taskId).addClass('active');
            $('.btn-default').removeClass('btn-default').addClass('btn-done').text('已完成');
        });
        $('.bomb .close').click(function(event) {
            $('.bomb').hide(); 
        });
        
    </script>
</body>

</html>