<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>任务</title>
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/index.css">
    <link rel="stylesheet" type="text/css" href="{$static_dir}home/css/task.css">
</head>

<body>
    <div id="header">
        <div id="back">返回</div>
        植树任务
    </div>
    <div id="container">
        <ul class="task-list">
            {volist name="task" id="item"}
            {notempty name="task"}
            <li {switch name="item.status" }
                                {case value="2"}
                                    class="active" 
                                {/case}
                            {/switch}>
                <div class="thumbnail flex">
                    <div class="thumb-img">
                        {switch name="item.status" }
                            {case value="1"}
                            <img src="{$static_dir}home/img/taskicon.png" alt="">
                            {/case}
                            {case value="2"}
                            <img src="{$static_dir}home/img/finish.png" class="finish" alt="">
                            {/case}
                            {default /}
                            <img src="{$static_dir}home/img/taskicon.png" alt="">
                        {/switch}

                    </div>
                    <div class="caption flex">
                        <p class="task-title">{$item.task_name}</p>
                        <div class="task-award">任务奖励：<img src="{$static_dir}home/img/taskgreen.png"><em>+{$item.task_introduce}</em></div>
                    </div>
                    <div class="btn-options">
                        {switch name="item.status" }
                            {case value="1"}
                            
                                <div class="btn btn-default" >
                                    领取
                                </div>
                            {/case}
                            {case value="2"}
                                <div class="btn btn-default" >
                                    已完成
                                </div>
                            {/case}
                            {default /}
                            <a href="{:url('Task/detail',['id' => $item['id']])}">
                                <div class="btn btn-default" >
                                    详细
                                </div>
                             </a>   
                        {/switch}
                    </div>
                </div>
            </li>
            {else/}
            <li>
                暂无任务
            </li>
            {/notempty}
            {/volist} 
        </ul>
    </div>
    <script type="text/javascript" src="{$static_dir}home/js/zepto.js"></script>
    <script type="text/javascript" src="{$static_dir}home/js/public.js"></script>
</body>

</html>